<header>
  <nav>
    <a mat-button id="logo" routerLink="/">
      <img src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg" alt="logo" width="25px"
           height="25px">
      <span>Bootcamp</span>
    </a>
    <a mat-button routerLink="/videos" routerLinkActive="active">Videos</a>
    <a mat-button routerLink="/playlist" routerLinkActive="active">Playlist</a>
  </nav>
  <div id="account">
    <a mat-icon-button routerLink="/login" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
    </a>
  </div>
</header>
<div id="content">
  <router-outlet></router-outlet>
</div>
