.content {
  margin-bottom: 10px;
  padding: 0 5px;
  width: 290px;
}
.content img {
  width: 100%;
}

.createdAt {
  font-size: small;
}

textarea {
  height: 50px;
}

@media screen and (min-width: 400px) {
  .content {
    width: 185px;
  }
}
@media screen and (min-width: 780px) {
  .content {
    width: 300px;
  }
}
