<div class="content">
  <img [src]="video.image" alt="{{video.title}}" (click)="onClickImage()">
  <div>
    <strong>{{video.title}}</strong> ({{video.duration | time}})
    <mat-checkbox #check type="checkbox" [(ngModel)]="video.favorite"></mat-checkbox>
  </div>
  <div class="createdAt">{{video.createdAt | date:'short' }}</div>
  <div>
    <button *ngIf="isLogged" mat-icon-button color="warn" #button (click)="onClickButton(button)">
      <mat-icon>{{buttonLabel}}</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Toggle Favorite" (click)="toggleFavorite(video)">F</button>
    <button mat-icon-button color="primary" matTooltip="Ref Element" (click)="check.checked=!check.checked">R</button>
    <button mat-icon-button color="primary" matTooltip="ViewChild" (click)="toggleFavoriteViewChild()">V</button>
  </div>
  <div>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Note" appHighlight [(ngModel)]="video.note"></textarea>
    </mat-form-field>
  </div>
</div>
